{% extends "base.html" %}
{% block content %}



<h2>About Keyword Analyzer Tool (Under construction)</h2>


<h3>General Information</h3>
There are two types of tasks.
<a href="/new_kw_task">First</a> is based on specified keyword
and searches certain search engine results to find pages
that have desired
<a href="http://moz.com/learn/seo/domain-authority">Domain Authority</a> (DA), <a href="http://moz.com/learn/seo/page-authority">Page Authority</a>(PA),
<a href="http://moz.com/learn/seo/mozrank">MOZ Rank</a> (MR),
<a href="http://cs.wikipedia.org/wiki/PageRank">Page Rank</a> (PR)
or <a href="http://cs.wikipedia.org/wiki/S-Rank">S-Rank</a> (SR).

<a href="/new_urls_task">Second</a> only acquires DA, PA, MR, PR and SR
of pages imported
in <a href="http://en.wikipedia.org/wiki/Comma-separated_values">CSV format
</a>.


<h3>Keyword Task</h3>
<ul>
    <li>Google search engine results analyzing is implemented so far</li>
    <li></li>
</ul>


<h3>URLs Task</h3>
<ul>
    <li>CSV format is:</li>
    <li></li>
</ul>


<h3>TODO</h3>
<ul>
    <li>filter debugging</li>
    <li>state automaton debugging</li>
    <li>design</li>
</ul>


<!--
<ul>
    <li>mini doc</li>
    <li>creator and admin contact</li>
</ul>
-->

{% endblock %}
